.container.dashboard {
}

    .container.dashboard .row.services {
        padding:0;
        margin:0;
    }

    .container.dashboard .row.services>.item {
        display: flex;
        padding:0;
        margin:0;
    }

    .container.dashboard .row.services a {

        position: relative;
        top: 0;
        left: 0;
        display: block;
        margin: 2rem;
        padding: 2rem;
        width: 100%;
        height: 17rem;
        background: #5d89da;
        color: #Fff;
        font-size: 3em;
        text-decoration: none;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.1s; /* Safari */
        transition-duration: 0.1s;
    }

    .container.dashboard .row.services a:hover {
        position: relative;
        top: -2px;
        left: -2px;
        box-shadow: 2px 2px 2px #666;
    }

    .container.dashboard .row.services a .icon {
        position: absolute;
        top: auto;
        bottom: 0.25em;
        right: 0.25em;
    }
